Repository hkevin01/vision-robotics-suite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vision-robotics-team, @vision-team, @automation-engineers, @robotics-team, @controls-team, @quality-team, @hmi-team, @simulation-team, @documentation-team, @tech-writers, @devops-team, @dev-tools-team, @python-team, @security-team, @compliance-team

Implement automotive paint inspection and 3D point cloud registration systems
  README.md
Owners: @documentation-team

feat: Implement Universal Docker Development Strategy
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  DOCKER_STRATEGY.md
  Dockerfile
  Makefile
  config/grafana-datasources.yml
  config/nginx.conf
  config/prometheus.yml
  config/redis.conf
  demo_advanced_features.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker/dev-backend.Dockerfile
  docker/dev-frontend.Dockerfile
  docker/dev-tools.Dockerfile
  scripts/commit-changes.sh
  scripts/dev-setup.sh
  scripts/init-mongo.js
  scripts/init-mysql.sql
  scripts/init-postgres.sh
  scripts/validate-environment.sh
  simple_demo.py
  src/vision_systems/adaptive_lighting_control.py
  src/vision_systems/automotive_paint_inspection.py
  src/vision_systems/photoneo_3d_registration.py
Owners: @vision-robotics-team, @devops-team, @vision-team, @automation-engineers

Implement collaborative safety zones for Universal Robots with real-time human detection and dynamic safety management
  README.md
Owners: @documentation-team

feat: Implement collaborative safety zones for Universal Robots
  README.md
Owners: @documentation-team

Implement collaborative safety zones and vision systems for quality control
  README.md
Owners: @documentation-team

feat: Implement advanced vision systems for robotics automation
  README.md
Owners: @documentation-team

feat: Complete Vision Robotics Suite with Docker orchestration
  DOCKER_ORCHESTRATION.md
  GIT_STATUS_RESOLUTION.md
  STAGING_STATUS.md
  docker-compose.yml
  gui/Dockerfile
  gui/app.js
  gui/index.html
  run.sh
  src/api/__init__.py
  src/api/main.py
  src/robot_programming/multi_robot_collision_avoidance.py
  src/robot_programming/universal_robots/collaborative_safety_zones.py
  src/vision_systems/battery_pack_quality_control.py
  src/vision_systems/body_in_white_inspection.py
  src/vision_systems/engine_timing_chain_verification.py
Owners: @vision-robotics-team, @devops-team, @robotics-team, @automation-engineers, @vision-team

feat: Final comprehensive commit - Complete Vision Robotics Suite
  .github/commit_message.md
  commit_all.py
  commit_clean_files.sh
  commit_now.py
  commit_strategy.py
  complete_final.sh
  demo_final.py
  execute_commit.py
  execute_final.py
  execute_universal_commit.py
  final_cleanup.py
  final_commit.sh
  final_git_commit.sh
  final_stage_commit.py
  final_universal_commit.py
  fix_git_status.sh
  git_commit_clean.py
  gui/config.json
  gui/styles.css
  make_executable.sh
  quick_commit.py
  run_commit.sh
  run_complete_final.py
  run_execute_commit.sh
  run_final_commit.sh
  run_final_git.py
  run_universal.py
  simple_commit.py
  simple_execute.py
  simple_final.py
  simple_git.py
  src/robot_programming/fanuc/force_feedback_integration.py
  stage_and_commit.sh
  stage_clean_files.sh
  test_setup.sh
  universal_commit.py
  universal_final.sh
  universal_final_commit.py
Owners: @devops-team, @automation-engineers, @vision-robotics-team, @robotics-team

feat: Enhance automation scripts with subprocess integration for git operations
  commit_all.py
  commit_now.py
  complete_final.sh
  execute_universal_commit.py
  final_cleanup.py
  final_universal_commit.py
  fix_git_status.sh
  run_complete_final.py
  run_final_git.py
  run_universal.py
  simple_final.py
  universal_commit.py
  universal_final.sh
  universal_final_commit.py
Owners: @vision-robotics-team

Add initial module files for PLC integration, quality systems, robot programming, SCADA HMI, simulation, and tests
  .github/workflows/test.yml
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  src/plc_integration/__init__.py
  src/quality_systems/__init__.py
  src/robot_programming/__init__.py
  src/scada_hmi/__init__.py
  src/simulation/__init__.py
  tests/__init__.py
  tests/test_vision_systems.py
Owners: @devops-team, @automation-engineers, @dev-tools-team, @vision-robotics-team, @python-team, @controls-team, @quality-team, @robotics-team, @hmi-team, @simulation-team

docs: Add comprehensive organization summary
  docs/project-status/ORGANIZATION_SUMMARY.md
Owners: @documentation-team, @tech-writers

feat: Organize project files and enhance automation scripts for improved maintainability
  README.md
  docs/project-status/ORGANIZATION_SUMMARY.md
  organize_files.py
  temp_organize.sh
  universal_final_commit.py
Owners: @documentation-team, @tech-writers, @vision-robotics-team

feat: Update README with enhanced architecture diagram and installation instructions
  README.md
Owners: @documentation-team

feat: Revise system architecture diagrams for improved clarity and detail
  README.md
Owners: @documentation-team

chore: Remove GitHub Actions CI/CD workflows to stop billing
  .github/workflows/ci-cd.yml
  .github/workflows/test.yml
Owners: @devops-team, @automation-engineers

docs: format tables in README.md
  README.md
Owners: @documentation-team

docs: format tables in tools/git/README.md
  tools/git/README.md
Owners: @documentation-team

.github/CODEOWNERS:

# Global code owners
* @vision-robotics-team

# Vision systems
/src/vision_systems/ @vision-team @automation-engineers
/tests/vision_systems/ @vision-team

# Robot programming
/src/robot_programming/ @robotics-team @automation-engineers
/tests/robot_programming/ @robotics-team

# PLC integration
/src/plc_integration/ @controls-team @automation-engineers
/tests/plc_integration/ @controls-team

# Quality systems
/src/quality_systems/ @quality-team @automation-engineers
/tests/quality_systems/ @quality-team

# SCADA/HMI
/src/scada_hmi/ @hmi-team @automation-engineers
/tests/scada_hmi/ @hmi-team

# Simulation
/src/simulation/ @simulation-team @automation-engineers
/tests/simulation/ @simulation-team

# Documentation
/docs/ @documentation-team @tech-writers
README.md @documentation-team
CHANGELOG.md @documentation-team

# CI/CD and GitHub workflows
/.github/ @devops-team @automation-engineers
/scripts/ @devops-team

# Configuration files
/.vscode/ @dev-tools-team
/.copilot/ @dev-tools-team
pyproject.toml @python-team
requirements.txt @python-team
Dockerfile @devops-team
docker-compose.yml @devops-team

# Security and compliance
SECURITY.md @security-team
/src/quality_systems/iatf_16949/ @quality-team @compliance-team
/src/quality_systems/vda_6_3/ @quality-team @compliance-team
